# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = ntnle
email = le.nathan.trung@gmail.com
[init]
defaultBranch = main
[pull]
rebase = true
[alias]
graph = log --all --graph --decorate --oneline
ll = log --oneline
st = status
last = log -1 HEAD --stat
cm = commit -m
c = commit
rv = remote -v
d = diff
dv = difftool -t vimdiff -y
[core]
excludesfile = ~/.gitignore_global
